<div
  class="sidenav"
  [ngClass]="isSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>

  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="bi bi-list"></i>
    </button>
    @if (!isSidebarCollapsed()) {
      <div class="logo-text">เมนู</div>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          @if (!isSidebarCollapsed()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </div>
</div>