* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Mitr", sans-serif;
  background: white;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  font-family: "Mitr", sans-serif;
  opacity: 0.6;
}